.sidebar {
  margin: 2rem;
  border: solid 5px;
  border-color: blue;
  padding: 1rem;
  background-color: orange;
  font-family: roboto;
  font-weight: bolder;
  float: right;
  width: 30%;
}

.band-picture {
  padding: 2rem;
  float: left;
  width: 500px;
  max-height: 500px;
}